/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.wp-block-as-heading{
  &:before {
    content: ' ';
    background: #d03e3e;
    margin-right: 1rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    color: white;
    text-align: center;
  }
}

body {
  counter-reset: wp-block-as-heading;
}

.wp-block-as-heading[data-is-placeholder-visible=false]::before {
  counter-increment: wp-block-as-heading;
  content: counter(wp-block-as-heading);
}
