/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #dedede;
$green: #bada55;
$red: orangered;

.wp-admin {
  .block-placeholder {
    padding: 1rem;
    border: 2px dashed $gray;
    display: block;
  }

  p.lead {
    font-style: italic;
  }

  .collapse-control img {
    max-width: 100px;
    max-height: 100px;
  }

  .row {
    display: flex;

    & > * {
      margin: 0 5px;
    }
  }
}
