<table class="table">
  <tbody>
    <tr>
      <td><b>Lieu</b></td>
      <td>Lausanne</td>
    </tr>
    <tr>
      <td><b>Date</b></td>
      <td> samedi-dimanche 2-3 et 16-17 novembre 2019</td>
    </tr>
    <tr>
      <td><b>Horaires</b></td>
      <td>9h-16h30</td>
    </tr>
  </tbody>
</table>
