# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

#lang files
*.pot~
*.po~

# w3 total cache
web/app/cache/
web/app/wflogs/

# Capistrano
log/

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor

# WP-CLI
wp-cli.local.yml
wp-cli.phar

# Styleguide
web/app/themes/wise/resources/dist/
node_modules
.sass-cache
.publish
.env

# IDE / OS
.idea/
*.DS_Store

web/app/theme/wise/resources/dist/
web/app/uploads/*
