/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/
.wp-admin .block-placeholder {
  padding: 1rem;
  border: 2px dashed #dedede;
  display: block; }

.wp-admin p.lead {
  font-style: italic; }

.wp-admin .collapse-control img {
  max-width: 100px;
  max-height: 100px; }

.wp-admin .row {
  display: -ms-flexbox;
  display: flex; }
  .wp-admin .row > * {
    margin: 0 5px; }

/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.wp-block-cgb-block-info {
  background: #bada55;
  border: 0.2rem solid #292929;
  color: #292929;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem; }
/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/
.wp-admin .block-placeholder {
  padding: 1rem;
  border: 2px dashed #dedede;
  display: block; }

.wp-admin p.lead {
  font-style: italic; }

.wp-admin .collapse-control img {
  max-width: 100px;
  max-height: 100px; }

.wp-admin .row {
  display: -ms-flexbox;
  display: flex; }
  .wp-admin .row > * {
    margin: 0 5px; }

/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
