<div class="py-1">
  <button class="btn btn-primary btn-sm">
    {% include '@atoms/icon/icon.twig' with { icon: 'alert-circle', class: 'icon-before feather' } %}
    Primary small
  </button>
</div>
<div class="py-1">
  <button class="btn btn-primary">
    {% include '@atoms/icon/icon.twig' with { icon: 'download', class: 'icon-before feather' } %}
    Primary normal
  </button>
</div>
<div class="py-1">
  <button class="btn btn-primary btn-lg">
    {% include '@atoms/icon/icon.twig' with { icon: 'arrow-left', class: 'icon-before feather' } %}
    Primary large
  </button>
</div>
<div class="py-1">
  <button class="btn btn-primary btn-block">
    {% include '@atoms/icon/icon.twig' with { icon: 'arrow-right', class: 'icon-before feather' } %}
    Primary block
  </button>
</div>
<div class="py-1">
  <button class="btn btn-primary btn-sm">
    Primary small
    {% include '@atoms/icon/icon.twig' with { icon: 'arrow-left', class: 'icon-after feather' } %}
  </button>
</div>
<div class="py-1">
  <button class="btn btn-primary">
    Primary normal
    {% include '@atoms/icon/icon.twig' with { icon: 'chevron-left', class: 'icon-after feather' } %}
  </button>
</div>
<div class="py-1">
  <button class="btn btn-primary btn-lg">
    Primary large
    {% include '@atoms/icon/icon.twig' with { icon: 'alert-circle', class: 'icon-after feather' } %}
  </button>
</div>
<div class="py-1">
  <button class="btn btn-primary btn-block">
    Primary block
    {% include '@atoms/icon/icon.twig' with { icon: 'download', class: 'icon-after feather' } %}
  </button>
</div>
