@charset 'utf-8';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.1rem 0;
  background: $white;
  box-shadow: 0 1px 19px -1px rgba(107, 107, 107, 0.35);
  z-index: $zindex-fixed;
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header .separator {
  display: none;
  border-left: 1px solid $gray-400;
  height: 3rem;
  margin: 0 1rem 0 2rem;

  @include media-breakpoint-up(md) {
    display: block;
  }

  @include media-breakpoint-up(lg) {
    margin: 0 2.5rem 0 3.5rem;
  }
}

.header-placeholder {
  height: 4.1rem;

  @include media-breakpoint-up(md) {
    height: 5.1rem;
  }

  @include media-breakpoint-up(lg) {
    height: 5.4rem;
  }
}
