@charset 'utf-8';

.breadcrumb {
  background: none;
  font-size: $font-size-base * 0.85;
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-up(md) {
    padding-right: 0.75rem;
  }

  .active {
    color: $gray-400;
  }
}

.breadcrumb-item,
.breadcrumb-item a {
  color: $gray-500;
}

.breadcrumb-item a {
  position: relative;
  transition: 0.3s ease;

  &:before {
    content: ' ';
    position: absolute;
    bottom: 8%;
    left: 0;
    width: 100%;
    height: 1px;
    background: $gray-500;
    transition: 0.3s ease;
  }

  &:hover {
    text-decoration: none;
    color: $gray-600;

    &:before {
      background: $gray-600;
    }
  }
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.3rem;

  @include media-breakpoint-up(md) {
    padding-left: 0.7em;
  }

  &:before {
    content: '>';
    width: 0.6rem;
    font-size: 90%;
    color: $gray-500;

    @include media-breakpoint-up(md) {
      width: 1.1rem;
    }
  }
}
