<ol class="history">
  <li>
    <span class="year">2006</span>
    Avant dernière année de l’atelier de théâtre comme mesure d’insertion sociale; durant 10 ans nous avons conduit un atelier d’introduction (un mois à deux jours par semaine) et un atelier de création (4 mois à 50%) avec des bénéficiaires du revenu d’insertion vaudois.
    <div class="d-block text-right pr-4">
      <a href="#" class="btn btn-outline-maniv btn-sm mt-2">Télécharger le rapport d'activité</a>
    </div>
  </li>
  <li>
    <span class="year">2005</span>
    Création et tournée d’un théâtre-forum sur le racisme avec des migrants de la Bourse à Travail de Lausanne. Théâtre invisible sur l’égalité homme-femmes dans les bus de Fribourg, sur mandat du Bureau de l’égalité hommes-femmes et de la famille .
    <div class="d-block text-right pr-4">
      <a href="#" class="btn btn-outline-maniv btn-sm mt-2">Télécharger le rapport d'activité</a>
    </div>
  </li>
</ol>
