@charset 'utf-8';

@import 'variables';

.tlbx-toolbar-wrapper {
  background: $maniv !important;
}

.tlbx-sidebar {
  a.active,
  a:hover {
    color: $maniv !important;
  }

  a:before {
    border-left-color: $maniv !important;
  }
}

.styleguide {
  font-family: "Quattrocento Sans", sans-serif;
}
