@charset 'utf-8';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-smoothing: antialiased;
}

h1.main-title {
  font-size: $font-size-base * 1.5;
  font-weight: 400;
  color: $maniv;
  margin-bottom: 2rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 3rem;
    font-size: $font-size-base * 2.9;
  }
}
