<nav class="main-nav">
  <ol>
    <li>
      <a href="#" class="nav-link">Créations</a>
    </li>
    <li>
      <a href="#" class="nav-link">Formation</a>
    </li>
    <li>
      <a href="#" class="nav-link active">Equipe</a>
    </li>

    <li>
      <a href="#" class="nav-link">Association</a>
    </li>
    <li>
      <a href="#" class="nav-link">Contact</a>
    </li>
  </ol>
</nav>
