<nav class="main-nav">
  <ol>
    <li>
      <a href="#" class="nav-link">Créations</a>
    </li>
    <li>
      <a href="#" class="nav-link">Formation</a>
    </li>
    <li>
      <a href="#" class="nav-link active">Equipe</a>
      <ul>
        <li>
          <a href="#" class="nav-link">Les membres</a>
        </li>
        <li>
          <a href="#" class="nav-link">Le comité</a>
        </li>
        <li>
          <a href="#" class="nav-link">L'association</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" class="nav-link">Association</a>
    </li>
    <li>
      <a href="#" class="nav-link">Contact</a>
    </li>
  </ol>

  <a href="#" class="mobile-menu-close d-md-none">
    <span></span>
    <span></span>
  </a>
</nav>
