<div class="buttons">
	{% for button in block.data.buttons %}
		{% if button.type == 'file' %}
			{% set href = button.file.url %}
		{% elseif button.type == 'link' %}
			{% set href = button.url %}
		{% endif %}

	<a class="mr-2 btn btn-outline-maniv" href="{{ href }}" {% if button.open_in_new_tab == 1 or button.type == 'file' %}target="_blank"{% endif %}>
		{{ button.title }}
	</a>

	{% endfor %}
</div>
