@charset 'utf-8';

ol.nav-sidebar {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;

  a {
    color: $gray-500;
    transition: 0.2s ease;
    padding-left: 1.5rem;

    &.active,
    &:hover {
      color: $maniv;
    }
  }
}
