<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 copyright">
          Copyright &copy; Manivelle théâtre en mouvement
        </div>
        <div class="col-md-6 author">
          site par <a href="https://flavienknuchel.ch" target="_blank">Flavien Knuchel</a>
        </div>
      </div>
    </div>
</footer>
