{% if menu %}
  <ol>
	{% for item in menu %}
    <li>
			<a target="{{ item.target }}" href="{{ item.link }}" class="nav-link">{{ item.title }}</a>
			{% include "menu.twig" with {menu: item.get_children} %}
		</li>
	{% endfor %}
	</ol>
{% endif %}
