<header class="header">
  <div class="header-container container">
    {% include '@atoms/logo/logo.twig' %}
    <div class="separator"></div>
    {% include "@molecules/nav/nav.twig" %}

    <div class="d-md-none ml-auto">
      <a href="#" class="mobile-menu-open">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

  </div>
</header>
<div class="header-placeholder"></div>
