/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-as-toggles-title {
  font-weight: bold !important;
}

.wp-block-quote {
  margin-bottom: 0.5em;
  border-left: none !important;
  padding-left: 1em;
  padding-right: 1em;
}

.button-gutenberg {
  margin-top: 5px;
}
