
{% block header %}
  {% include '@organisms/header/header.twig' %}
{% endblock %}

{% block hero %}
  {% include "@atoms/hero/hero.twig" %}
{% endblock %}

<div class="main-container">
  {% block breadcrumb %}
    <div class="container">
      {% include "@organisms/breadcrumb/breadcrumb.twig" %}
    </div>
  {% endblock %}

  {% block title %}
  <div class="container main-title">
    <h1>Démarche</h1>
  </div>
  {% endblock %}

  <main class="container" role="main">
    <div class="row">
      <div class="sidebar col-md-4 d-none d-md-block">
        {% block sidebar %}
          {% include "@organisms/sidebar/sidebar.twig" %}
        {% endblock %}
      </div>
      <div class="content col-md-8">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </main>

  {% include '@molecules/footer/footer.twig' %}
</div>
