<div class="gallery">
{% for item in 1..10 %}
  <a href="" class="gallery-item gallery-open">
    <img class="img-fluid" src="https://source.unsplash.com/random" alt="an alt for the image">
  </a>
{% endfor %}
</div>
