@charset 'utf-8';

.hero {
  height: 11rem;
  background: black;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include media-breakpoint-up(sm) {
    height: 15rem;
  }

  @include media-breakpoint-up(md) {
    height: 18rem;
  }
}
