<ol class="history">
	{% for year in block.data.years %}
		<li>
			<span class="year">{{ year.year }}</span>
			{{ year.text }}
			<div class="d-block text-right pr-4">
				<a href="{{ year.file.url }}" target="_blank" class="btn btn-outline-maniv btn-sm mt-2">Télécharger le rapport d'activité</a>
			</div>
		</li>
	{% endfor %}
</ol>
